<h1>Todas las actualizaciones</h1>

<% @statuses.each do |status| %>
<div class="status">
   <strong><%= status.name %></strong>
   <p>
    <%= status.content %>
    </p>
    <div class="meta">
    <%= link_to "Hace " + time_ago_in_words(status.created_at), status %>
    <span class="admin">
    | <%= link_to "Editar", edit_status_path(status) %>
    <%= link_to "Borrar", status, method: :delete, data: { confirm: "Seguro que deseas eliminar esta actualización"} %>
    </div>
  </div>
 <% end %>